OCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nguyễn T. Đạt</title>
    <link rel="stylesheet" href="222.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>


<body background="background.jpg">



    <div class="bo">
        <div class="banner">
            <img src="../Content/5.jpg" alt="" class="avatar">
            <div class="name">
                <p class="td">Nguyễn Thành Đạt</p>
                <p class="job">Software Engineer</p>
            </div>
        </div> <!-- kết thúc div banner -->
        <div class="left">
            <div class="to">
                <h3><i class="fas fa-graduation-cap"></i>Education</h3>
                <ul>
                    Trung học cơ sở
                    <p class="time">2010 - 2014</p>
                    <li>Trung học cơ sở Nguyễn Nghiêm</li>
                </ul>
                <ul>
                    Trung học phổ thông
                    <p class="time">2014-2017</p>
                    <li>Trung học phổ thông Số 1 Đức Phổ</li>
                </ul>
                <ul>
                    Đại học
                    <p class="time">2017 to Present</p>
                    <li>Đại học văn lang</li>
                </ul>
            </div> <!-- Kết thúc div to -->
            <div class="to">
                <h3><i class="fas fa-user"></i>Favourite Quote</h3>
                <p>
                    “Cuộc sống là một niềm an ủi vô bờ. Cuộc sống chỉ cho ta mà không cần lấy bớt đi. Cuộc sống cho ta tất cả và mỉm cười khi thấy ta dại dột.”
                    - T.C.S
                </p>
            </div> <!-- Kết thúc div to -->
        </div> <!-- Kết thúc div left -->
        <div class="right">
            <div class="to">
                <h3>Details</h3>
                <p class="pn">
                    <strong>Address:</strong> CoGiang St, W.2, PhuNhuan D, HoChiMinh City, VietNam
                    <br><strong>Phone:</strong> 0967898310<br>
                </p>
            </div> <!-- Kết thúc div to -->
            <div class="to">
                <h3>Skills</h3>
                <ul class="uln">
                    <li>
                        C#
                    </li>
                    <li>
                        Java
                    </li>
                    <li>
                        HTML
                    </li>
                </ul>
            </div> <!-- Kết thúc div to -->
            <div class="to">
                <h3>Languages</h3>
                <ul class="uln">
                    <li>VietNamese</li>
                    <li>English</li>
                </ul>
            </div> <!-- Kết thúc div to -->
        </div> <!-- Kết thúc div right -->
    </div> <!-- Kết thúc div bố -->


</body>
</html>
